<% provide(:title, 'Contact us') %>
<h1>Contact us</h1>
<p>This is the contact page for the website.</p>
<p>We can add our address, telephone number and email contact as well as a photo of the shop and a google map to show the location</p>
