$full-width: 900px;
$background-color: black;
$link-color: #09c;
$visited-link-color: #069;
$default-margin: 5px;

.container {
	width: $full-width;
	margin: 0 auto;
}

body {
	background: $background-color;
}

header {
	height: 180px;
	background: white;
	padding: 10px;
}

nav {
	margin-top: $default-margin;
	height: 40px;
	background: white;

	ul {
		margin: 0;
		padding-top: 10px;

		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;

			a {
				padding: 0 5px;
				font-weight: bold;
				text-decoration: none;
				color: $link-color;
				
				&:visited {
					color: $link-color;
				}
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

section {
	padding: 10px;
	margin-top: $default-margin;
	background: white;

	min-height: 900px;
    height: auto;
    height: 900px; 

	h1{
		margin-top: 0px;
	}
}

footer {
	margin-top: $default-margin;
	margin-bottom: 0px;
	padding-left: 10px;
	height: 20px;
	background: white;
	bottom: 0px;

	a {
		text-decoration: none;
		color: black;
		
		&:visited{
			color: black;
		}

		&:hover {
			color: link-color;
		}

	}
}

/* Links */