<nav>
	<ul>
		<li><%= link_to "Presentation", root_path %></li>
		<li><%= link_to "China", "#" %></li>
		<li><%= link_to "Gandara", "#" %></li>
		<li><%= link_to "Contact us", contact_path %></li>
	</ul>
</nav>